<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Me</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
    <img class="potrait" src="./img/image1.jpg">
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, corrupti amet error repellendus sit iure saepe fuga repellat ea, esse animi dolorem accusamus dolores provident? Voluptatem rerum eveniet cupiditate. Eligendi iusto blanditiis perspiciatis? Ad quasi laborum tempora temporibus numquam culpa.</p>
    </div>
    {{>footer}}
</body>
</html>