<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    </div>
    <br>
    <img class="potrait" src="./img/weather.png">
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, et facilis error officiis alias, voluptatem nulla eius qui dolorum obcaecati hic molestiae tempore omnis neque id libero magnam, fugit eveniet nam quis reiciendis odio? Ut sequi autem laborum alias consectetur?</p>
</body>
{{>footer}}
</body>
</html>